<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Niemagiczna Sprawdzarka</title>
  </head>
  <body>
    <h1><a href="/">Niemagiczna Sprawdzarka</a></h1>
    {% if request.user.is_authenticated %}{{ request.user.username }} | <a href="{% url "auth_logout" %}">wyloguj się</a>{% else %}<a href="{% url "auth_login" %}">zaloguj się</a> | <a href="{% url "registration_register" %}">zarejestruj się</a>{% endif %}{% if request.user.is_staff %} | <a href="/admin/">panel administracyjny</a>{% endif %}
    {% block content %}
    {% endblock content %}
    <footer>
      <p>Web service powered by Aoba</p>
      <p>Verification service powered by Shiraishi</p>
      <p>RIP Magiczna Komparatorka na serwerze Miyano 2016-2016</p>
    </footer>
  </body>
</html>
